# Environment variables
.env
.env.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
package-lock.json

# Build outputs
dist/
dist-ssr/
.next/
out/
build/

# Dev server
.vite/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp

# Local env files
*.local

# Testing
.nyc_output/
coverage/

# Misc
.cache/
.turbo/
